*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* unidades de medida:
vh altura
vw largura */
body {
    background-color: var(--light-bg);
    color: var(--text-dark);
    transition: var(--transition);
    line-height: 1.6;
    min-height: 100vh; 
}
