*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* unidades de medida:
vh altura
vw largura */
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--espacamento-padrao);
    transition: background 0.3s, color 0.3s;
}
